---
import ImageUploader from '../components/ImageUploader.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Subida de marcas</title>
  </head>
  <body>
    <ImageUploader />
  </body>
</html>

