---
import ImageUploader from '../components/ImageUploader.astro';
import '../components/ImageUploader.css';
//import '../components/ImageUploader';

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cattle Brand Finder</title>
  </head>
  <body>
    <ImageUploader />
  </body>
</html>

